* div {
  border: 1px solid rgb(247, 239, 239);
  margin: 5px;
  padding: 5px;
  } */

  div{
    border: solid black 1px;
  }

  .floorPlan {
    display: grid; 
    
  }
  .bedroom {
    background-color: rgb(62, 108, 164);
  }
  .oven { 
    grid-area: oven; 
    background-color: rgb(165, 64, 10);
  }
  .kitchen { 
    grid-area: kitchen;
    background-color: rgb(232, 174, 87);
  }
  .sink { 
    grid-area: sink; 
    background-color: brown;
  }
  #Bedroom-1 { 
    grid-area: bedroom1; 
  }
  #Full-Bath { 
    grid-area: full-bath;
    background-color: olive; 
  }
  #Bedroom-2 { 
    grid-area: bedroom2; 
  }
  #Half-Bath { 
    grid-area: half-bath;
    background-color: olive; 
  }
  #Bedroom-3 { 
    grid-area: bedroom3; 
  }
  
  .livingroom { 
    grid-area: livingroom;
    background-color: bisque;
  }
   